rndweb/RND1/Web References/localhost/myservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Calc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalcResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="returnSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newVal" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="returnSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="returnSessionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="HelloWorldSoapIn">
    <part name="parameters" element="s0:HelloWorld" />
  </message>
  <message name="HelloWorldSoapOut">
    <part name="parameters" element="s0:HelloWorldResponse" />
  </message>
  <message name="CalcSoapIn">
    <part name="parameters" element="s0:Calc" />
  </message>
  <message name="CalcSoapOut">
    <part name="parameters" element="s0:CalcResponse" />
  </message>
  <message name="returnSessionSoapIn">
    <part name="parameters" element="s0:returnSession" />
  </message>
  <message name="returnSessionSoapOut">
    <part name="parameters" element="s0:returnSessionResponse" />
  </message>
  <portType name="MyServiceSoap">
    <operation name="HelloWorld">
      <input message="s0:HelloWorldSoapIn" />
      <output message="s0:HelloWorldSoapOut" />
    </operation>
    <operation name="Calc">
      <input message="s0:CalcSoapIn" />
      <output message="s0:CalcSoapOut" />
    </operation>
    <operation name="returnSession">
      <input message="s0:returnSessionSoapIn" />
      <output message="s0:returnSessionSoapOut" />
    </operation>
  </portType>
  <binding name="MyServiceSoap" type="s0:MyServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Calc">
      <soap:operation soapAction="http://tempuri.org/Calc" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="returnSession">
      <soap:operation soapAction="http://tempuri.org/returnSession" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MyService">
    <port name="MyServiceSoap" binding="s0:MyServiceSoap">
      <soap:address location="http://localhost/rnd/webservice/myservice.asmx" />
    </port>
  </service>
</definitions>